<li class="nav-item mx-2">
    <a href="#" class="nav-link text-white">Cart</a>
  </li>
  <li class="nav-item mx-2">
    <a href="#" class="nav-link text-white">Wishlist</a>
  </li>
  <li class="nav-item mx-2">
    <a href="#" class="nav-link text-white">Login</a>
  </li>
  <li class="nav-item mx-2">
    <a href="#" class="nav-link text-white">Registration</a>
  </li>


  <img src ="{%static "app/images/logokaarlah.png" %}" width="80" height="60">

  
  <div class="searchkey">
    <div>
     <a href="#"> <img src="{% static "app/images/search.svg" %}"></a>
    </div>
    <div>
      <span>Search</span>
    </div>



    <style>

      .karlah{
        
        width: 130px;
        margin-right: 180px;
        height: 50px;
        width: 180px;
        margin-left: 300px;
        
      
      }
      .logo{
          margin-right: 800px;
          
      
      }
      
      .Women:hover{
                    
        text-decoration: underline;
      
      }
      .men:hover{
        text-decoration: underline;
      }
      .teen:hover{
        text-decoration: underline;
      }
      .kids:hover{
        text-decoration: underline;
      }
      ul{
        margin-top: 20px;
      }
      .searchkey{
        display: flex; 
        flex-direction: column; 
        align-items: center;
        margin-right: 500px;
        height: 30px;
        width: 30px;
      }
      
      </style>
      
      
      <head>
      <body>
      
      
          <nav class="navbar navbar-expand-lg  bg-light">
              <div class="container-fluid">
      
              
      
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#"><span class="Women">Women</span></a>
                      <button class="text-body-m-regular liDtv T9iru o4A5i SS0Z6 JxN7Y" type="button" aria-label="Women" micro="fukku" module="mng-button" aria-haspopup="menu" aria-controls="sheMenu"><span data-testid="button-icon" class="icon-outline-down-s KlM7C"></span></button>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#"><span class="men">Men</span></a>
                    </li>
                    <li>
                      <a class="nav-link active" href="#">
                        <span class="teen">Teen</span>
                      </a>
                    </li>
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"><span class="kids">Kids</span></a>
                      </li>
                    </ul>
                
                    <div class="logo">
                      <a class="_kwrY" href="#" title="KAARLAH Shop Online"><img class="karlah" src="{%static "app/images/logokarlah2.svg" %}" alt="KAARLAH Logo"></a>
                    </div>
                      
                    
                        
                    
                
                </div>
                  
                </div>
      
                
      
                
              
            
          </nav>
            {% block banner_slider %}{% endblock banner_slider %}
      
      
            <footer class="container-fluid fixed-bottom bg--bs-danger-bg-subtle text-center p-2 mt-5">
      
            Copyright : 2022 || Develop by : Akshaya suresh
          
            </footer>
          
      
      
      
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
      
      
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
      
      
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
      
      <script script="{% static 'app/js/owl.carousel.min.js' %}"></script>
      <script script="{% static 'app/js/allmin.js' %}"></script>
      <script script="{% static 'app/js/myscript.js' %}"></script>
      
      </body>
      </html>




      <div class="logo">
        <a class="_kwrY" href="#" title="KAARLAH Shop Online"><img class="karlah" src="{%static "app/images/logokarlah2.svg" %}" alt="KAARLAH Logo"></a>
      </div>


      .karlah{
  
        width: 130px;
        margin-right: 180px;
        height: 50px;
        width: 180px;
        margin-left: 300px;
      }


      .Women:hover{
              
        text-decoration: underline;
      
      }
      .men:hover{
        text-decoration: underline;
      }
      .teen:hover{
        text-decoration: underline;
      }
      .kids:hover{
        text-decoration: underline;
      }
      ul{
        margin-top: 20px;
      }
      .searchkey{
        display: flex; 
        flex-direction: column; 
        align-items: center;
        margin-right: 500px;
        height: 30px;
        width: 30px;
      }
      .karlah{
        
      
      
        height: 50px;
        width: 180px;
        
      }
      html,body{
        max-width: 100%;
          overflow-x: hidden;
      }
      .logo{
                margin-right: 800px;
                
            
            }
      
      </style>
      
      
      <head>
      <body>
      
                  
            
      
                
      
                
              
            
          </nav>






          <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{% static 'app\images\banner\b1.jpg.jpeg' %}" class="d-block w-100" alt="banner image">
              </div>
              <div class="carousel-item">
                <img src="{% static 'app\images\banner\b1.jpg.jpeg' %}" class="d-block w-100" alt="banner image">
              </div>
              <div class="carousel-item ">
                <img src="{% static 'app\images\banner\b1.jpg.jpeg' %}" class="d-block w-100" alt="banner image">
              </div>
              <div class="carousel-item ">
                <img src="{% static 'app\images\banner\b1.jpg.jpeg' %}" class="d-block w-100" alt="banner image">
              </div>
            </div>
          </div>


          me-auto mb-3 mb-lg-0



          <div class="collapse navbar-collapse secnav">

            <ul class="navbar-nav">
              <li class="nav-item sea">
            <a class="nav-link active" href="#"> <img src="{% static "app/images/search.svg" %}"></a>
              </li>
          
            <li class="nav-item wishlis">
              <a class="nav-link active" href="#">Wishlist</a>
            </li>
          <li class="nav-item bag">
            <a class="nav-link active" href="#">Shopping bag</a>
          </li>
        <li class="nav-item sign">
          <a class="nav-link active" href="#">Sign in </a>
        </li>
      </ul>
        </div>


      <div class="collapse navbar-collapse" id="navbarSupportedContent">


        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        
      </div>
      

      <div class="col-6">
        <span><u>Discover more</u></span>
      </div>
      <div class="col-6">
      </div>

      <div class="row">
        <div class="col-4">
          <img src="{% static 'app\images\Gimgs\Gimg3.jpg' %}" width="400" height="350">
        </div>


    margin-right: 110px;



    class Product(models.Model):
    title=models.CharField(max_length=100)
    selling_price=models.FloatField()
    discounted_price=models.FloatField()
    description=models.TextField()
    composition=models.TextField(default='')
    prodapp=models.TextField(default='')
    category=models.CharField(choices=CATEGORY_CHOICES,max_length=2)
    product_image=models.ImageField(upload_to='product')
    def __str__(self):
        return self.title



        def about(request):
    return render(request,"app/about.html")

def contact(request):
    return render(request,"app/contact.html")

    path('about/',views.about,name="about"),
    path('contact/',views.contact,name="contact"),



    
    messages.error(request,"Invalid input data")



    class ProfileView(View):
    def get(self,request):
        form=CustomerProfileForm()
        return render(request,'app/profile.html',locals())
    def post(self,request):
        return render(request,'app/profile.html',locals())





        #path('profile/',views.ProfileView.as_view(),name='profile'),
        

        
def signin(request):
return render(request,"app/signin.html")


<li class="nav-item">
  <a class="nav-link active" href="{% url 'customerregistration' %}" title="Sign in"><img src="{%static "app/images/user.png" %}" height="25" width="25"></a>
</li>


<li><hr class="dropdown-divider"></li>

<li class="nav-item">
  <a class="nav-link active" href="#" title="shopping bag"><img src="{%static "app/images/bag.png" %}" height="25" width="25"></a>
</li>


<li class="nav-item">
  <a class="nav-link active" href="#" title="wishlist"><img src="{%static "app/images/wishlist.png" %}" height="25" width="25"></a>
</li>

<div class="button row flex" style="font-family: Rajdhani;"></div>


EMAIL_BACKEND="django.core.mail.backends.console.EmailBackend"




{% extends 'app/base.html' %}
{% load static %}
{% block title %}Cart{% endblock %}
{% block extra_head %}

{% endblock %}
{% block main-content %}
<div class="container my-5">


<div class="row">
    {% if cart %}
      <h1 class="text-center mb-5">Shopping Cart</h1>
      <div class="col-sm-8">
        <div class="card">
            <div class="card-body">
                <h3>Cart</h3>
                {% for item in cart %}
                   <div class="row">
                     <div class="col-sm-3 text-center align-self-center"><img src="{{item.product.product_image.url}}" alt="" srcset="" class="img-fluid img-thumbnail shadow-sm" height="150" width="150"></div>
                      <div class="col-sm-9">
                        <div>
                          <h5>{{item.product.title}}</h5>
                          <p class="mb-2 text-muted small">{{item.product.description}}</p>
                          <div class="my-3">
                            <label for="quantity">Quantity:</label>
                            <a class="minus-cart btn" pid={{item.product.id}}><i class="fas fa-minus-square fa-lg"></i></a>
                              <span id="quantity">{{item.quantity}}</span>
                            <a class="plus-cart btn" pid="{{item.product.id}}"><i class="fas fa-plus-square fa-lg"></i></a>
                          </div>
                          <div class="d-flex justify-content-between">
                            <a href="#" class="remove-cart btn btn-sm btn-secondary mr-3" pid={{item.product.id}}>Remove item</a>
                            <p class="mb-0"><span><strong>Rs. {{item.product.discounted_price}}</strong></span></p>

                          </div>

                          </div>
                        </div>
                      </div>
                      <hr class="text-muted">
                {% endfor %}      
                   </div>
            </div>
        </div>


        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h3>The Total Amount of</h3>
              <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">Amount<span id="amount">Rs. {{amount}}</span></li>
                <li class="list-group-item d-flex justify-content-between align-items-center px-0">Shipping<span>Rs. 40.00</span></li>
                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                  <div>
                    <strong>Total</strong><small>(including GST)</small>

                  </div>
                  <span id="totalamount"><strong>Rs. {{totalamount}}</strong></span>
                </li>
              </ul>
              <div class="d-grid"><a href="#" class="btn btn-dark">Place order</a></div>
            </div>
          </div>
        </div>
    {% else %}    
        <h1 class="text-center mb-5">Cart is Empty</h1>
    {% endif %}
      </div>

</div>

{% endblock main-content %}



views

def plus_cart(request):
    if request.method=="GET":
        prod_id=request.GET['prod_id']
        c=Cart.objects.get(Q(product=prod_id) & Q(user=request.user))
        c.quantity+=1
        c.save()
        user=request.user
        cart=Cart.objects.filter(user=user)
        amount=0
        for p in cart:
            value = p.quantity*p.product.discounted_price
            amount= amount + value
        totalamount=amount+40
        #print(prod_id)
        data={
              'quantity':c.quantity,
              'amount':amount,
              'totalamount':totalamount
        }
        return JsonResponse(data)




def minus_cart(request):
    if request.method=="GET":
        prod_id=request.GET['prod_id']
        c=Cart.objects.get(Q(product=prod_id) & Q(user=request.user))
        c.quantity-=1
        c.save()
        user=request.user
        cart=Cart.objects.filter(user=user)
        amount=0
        for p in cart:
            value = p.quantity*p.product.discounted_price
            amount= amount + value
        totalamount=amount+40
        #print(prod_id)
        data={
              'quantity':c.quantity,
              'amount':amount,
              'totalamount':totalamount
        }
        return JsonResponse(data)



def remove_cart(request):
    if request.method=="GET":
        prod_id=request.GET['prod_id']
        c=Cart.objects.get(Q(product=prod_id) & Q(user=request.user))
        c.delete()
        user=request.user
        cart=Cart.objects.filter(user=user)
        amount=0
        for p in cart:
            value = p.quantity * p.product.discounted_price
            amount= amount + value
        totalamount=amount+40
       
        data={
              'quantity':c.quantity,
              'amount':amount,
              'totalamount':totalamount
        }
        return JsonResponse(data)


        




        # Generate and send OTP via email
def send_otp_email(user_email):
    otp = str(random.randint(100000, 999999))
    send_mail(
        'Password Reset OTP',
        f'Your OTP for password reset is: {otp}',
        'your_email@example.com',  # Replace with your email
        [user_email],
        fail_silently=False,
    )
    return otp

# View for sending OTP
def send_otp(request):
    if request.method == 'POST':
        user_email = request.POST.get('email')
        if user_email:
            otp = send_otp_email(user_email)
            request.session['otp'] = otp  # Store OTP in the session
            return redirect('otp_verification')  # Redirect to OTP verification page
        else:
            messages.error(request, 'Please enter a valid email address.')

    return render(request, 'send_otp.html')  # Create a template for email input

# View for OTP verification
def otp_verification(request):
    if request.method == 'POST':
        entered_otp = request.POST.get('otp')
        stored_otp = request.session.get('otp')
        if entered_otp == stored_otp:
            return redirect("/password_reset_confirm")  # Redirect to the password reset page
        else:
            messages.error(request, 'Invalid OTP. Please try again.')

    return render(request, 'otp_verification.html')  



    var options = {
      "key": "rzp_test_irzkM69wb6LWZl", // Enter the Key ID generated from the Dashboard
      "amount": "{{razoramount}}", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
      "currency": "INR",
      "name": "KAARLAH clothing store", //your business name
      "description": "Purchase Product",
      
      "order_id": "{{order_id}}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
      
      "handler":function(response) {
        console.log("success")
          var form=document.getElementById("myform"); 
         
  
          window.location.href = 'http://localhost:8000/paymentdone?order_id=${response.razorpay_order_id}&payment_id=${response.razorpay_payment_id}&cust_id=${form.elements["custid"].value}'
  
  
      },
      
      
      "theme": {
          "color": "#3399cc"
      }
  };
  var rzp1 = new Razorpay(options);
  rzp1.on('payment.failed',function(response){
          alert(response.error.description);
  });
  document.getElementById('rzp-button1').onclick = function(e){
      rzp1.open();
      e.preventDefault();
  }
  </script>
  </script>
  {% endblock payment-gateway %}



  window.location.href = redirectTo;



  @login_required
def plus_wishlist(request):
    if request.method == 'GET':
        prod_id=request.GET['prod_id']
        product=Product.objects.get(id=prod_id)
        user=request.user
        Favour(user=user,product=product).save()
        data={
            'message':'Wishlist added successfully'
        }
        return JsonResponse(data)

@login_required
def minus_wishlist(request):
    if request.method == 'GET':
        prod_id=request.GET['prod_id']
        product=Product.objects.get(id=prod_id)
        user=request.user
        Favour.objects.filter(user=user,product=product).delete()
        data={
            'message':'Wishlist removed successfully'
        }
        return JsonResponse(data)




        <a pid={{product.id}} class="minus-wishlist btn btn-danger shadow px-5 py-2 ms-4"><i class="fas fa-heart fa-lg"></i></a>




        $('.plus-wishlist').click(function(){
          var id=$(this).attr("pid").toString();
          $.ajax({
              type:"GET",
              url:"/pluswishlist",
              data:{
                  prod_id:id
              },
              success:function(data){
                  //alert(data.message)
                  window.location.href = 'http://localhost:8000/product-detail/' + id;
              }
          })
      })
      
      
      $('.minus-wishlist').click(function(){
          var id=$(this).attr("pid").toString();
          $.ajax({
              type:"GET",
              url:"/minuswishlist",
              data:{
                  prod_id:id
              },
              success:function(data){
                  //alert(data.message)
                  window.location.href = 'http://localhost:8000/product-detail/' + id;
              }
          })
      })




      def add_wishlist(request):
    pid=request.GET['product'],
    return JsonResponse({'bool':True})


    $(document).on('click',".add-wishlist",function(){
      var pid=$(this).data('data-product');
      
      $.ajax({
          url:"/add-wishlist",
          data:{
              product:pid
          },
          dataType:'json',
          success:function(res){
              console.log(res);
          }
      })
  })


  $('.plus-wishlis').click(function(){
    var id=$(this).attr("pid").toString();
    $.ajax({
        type:"GET",
        url:"/pluswishlist",
        data:{
            prod_id:id
        },
        success:function(data){
            //alert(data.message)
            window.location.href = 'http://localhost:8000/product-detail/' + id;
        }
    })


    def payment_done(request):
    user = request.user
    if user.is_authenticated:
        user_id = user.id
    order_id=request.GET.get('order_id')
    payment_id=request.GET.get('payment_id')
    cust_id=request.GET.get('cust_id')
    #print("payment_done :oid=",order_id,"pid=",payment_id,"cid=",cust_id)
    user=request.user
    #return redirect("orders")
    customer=Customer.objects.get(id=cust_id)
    payment=Payment.objects.get(razorpay_order_id=order_id)
    payment.paid=True
    payment.razorpay_payment_id=payment_id
    payment.save()
    cart=Cart.objects.filter(user=user)
    for c in cart:
        print(c)
        OrderPlaced(user=user,customer=customer,product=c.product,quantity=c.quantity,payment=payment).save()
        c.delete()

    return redirect("orders")


    <img src="{%static "app/images/wishlist.png" %}" height="25" width="25">


    .badgeimg{
      width: 18px;
      height: 18px;
      float: left;
      float: inline-end;
      display: flex;
      margin-left: 10px;
      
    }

    .badgeimg2{
      width: 18px;
      height: 18px;
      float: left;
      float: inline-end;
      display: flex;
      margin-left: 10px;
      
      
    }



    <li class="nav-item">
      <img src="{%static "app/images/wishlist.png" %}" height="25" width="25">
      <a class="nav-link active" href="{% url 'showwishlist' %}" title="wishlist"><span class="badge bg-danger  badgeimg2 bg-image">{% if wishitem > 0 %} {{wishitem}} {% endif %}</span></a>
                </li>




    <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->



  <!-- Footer -->
<footer class="bg-white text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto bg-bogy-dark">
            <p class="pt-2">
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-white mb-4">
              <input type="email" id="form5Example21" class="form-control" />
              <label class="form-label" for="form5Example21">Email address</label>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-dark mb-4">
              Subscribe
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->

    <!-- Section: Text -->
    
    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  
</footer>
<!-- Footer -->



  <section class="mb-4">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
      repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
      eum harum corrupti dicta, aliquam sequi voluptate quas.
    </p>
  </section>

  <div class="container my-5">
    <div class="row">
        <h3>Welcome<span class="text-capitalize"> {{request.user}}</span></h3>